body {
    font-family: Inconsolata, monospace;
}


.container {
    padding: 5rem;
    display: flex;
    justify-content: space-between
}

input {
    display: block;
    width: 60%;
    height: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.form_wrapper {
    width: 45%;
}

button {
    height: 40px;
    width: 150px;
}


.show_todo {
    width: 45%;
    min-height: 100px;
    background-color: #ccc;
    padding: 10px;
}


#cancel {
    display: none;
}